body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    color : #00adb5;
}

h2{
    font-family: 'Arvo', serif;
    color : #00adb5;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}
 
.top-cloud
{
    position: absolute;
    right: 300px;
    top: 50px;
}


.bottom-cloud
{
    position: absolute;
    left: 250px;
    bottom: 350px;
}


.btn {
	background-color:#11999e;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
	font-size:17px;
	font-weight:bold;
	padding:15px 25px;
	text-decoration:none;
	text-shadow: 0 1px 0 #66bfbf;
}
.btn:hover {
	background-color:#66bfbf;
}
.btn:active {
	position:relative;
	top:1px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    margin: 100px auto 0;
  }

  hr {
    border-style: none;
    border-color: gray;
    border-width: 5px;
    border-top-style: dotted;
    width: 5%;
  }